tutorials/AI_Email_Lead_Qualifier_Autoresponder.json
{
  "name": "Your second workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c40f2011-ba5e-4dfc-8fe4-54547e3dacb5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "yBNIxFSZK8K6SIm2",
          "name": "nick@leftclick.ai (Oct 20 2025)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        0
      ],
      "id": "78658c73-53a2-4837-ba58-be0a213f49c3",
      "name": "Send a message",
      "webhookId": "c2f0814f-c8bb-47eb-93f1-598c43bd63ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "yBNIxFSZK8K6SIm2",
          "name": "nick@leftclick.ai (Oct 20 2025)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent email writing assistant. ",
              "role": "system"
            },
            {
              "content": "=You are an assistant that helps respond to new customer inquiries.\n\nYour tasks:\n1. Read the incoming email carefully.\n2. Determine intent: is this a serious inquiry about services (YES) or spam/unqualified (NO)?\n3. If NO, respond only with: \"DISQUALIFIED\".\n4. If YES, write a polite, professional reply that:\n   - Thanks them for reaching out,\n   - Confirms you understand what they're asking for,\n   - Positions our company as capable of helping,\n   - Invites them to book a call using this link: cal.com/leftclick/growth-mapping-call.\n5. Keep the response under 120 words.\n6. Always use clear, professional English.\n7. Use this template when responding to the email: \n\nHey {name}, \n\nThanks for reaching out. \n\nI just took a look and we'd be happy to help with {paraphrased version of thing}.\n\nWhat's the calendar looking like tomorrow? \n\nThanks, \nNick"
            },
            {
              "content": "={{ $json.subject }}\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "reasoning_effort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        0
      ],
      "id": "cf71acd1-60a4-455a-98bf-02e646b4b3b1",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "oLLACDYfGm4C4ouV",
          "name": "YouTube "
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5bd62f3-1068-4e44-b475-38e398ec87a9",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "DISQUALIFIED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "72272b43-0ac1-4be6-98b0-3c8565531d39",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac17e730-12a4-4d66-96e8-6f744a30f3cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7661a849ead114a9aa6d9ceaf4160465aeb79532a35bde62160c840ffba9fc8"
  },
  "id": "MUCQBgksbHz8JOPd",
  "tags": [
    {
      "createdAt": "2024-11-10T18:51:57.901Z",
      "updatedAt": "2024-11-10T18:51:57.901Z",
      "id": "2P6abdig1HvTezw3",
      "name": "Educational"
    }
  ]
}